/* Banner Title */
.banner-title {
    color: #333d43;
    font-family: Poppins, sans-serif;
    font-size: 28px; /* Default for smaller screens */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.16px;
    height: auto;
}

@media (min-width: 1024px) {
    .banner-title {
        font-size: 36px; /* Adjusted for lg devices */
    }
}

/* Adventure Title */
.adventure-title {
    color: #333d43;
    font-family: Poppins, sans-serif;
    font-size: 48px; /* Default for smaller screens */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
}

@media (min-width: 1024px) {
    .adventure-title {
        font-size: 64px; /* Adjusted for lg devices */
        letter-spacing: 6.4px;
    }
}

/* Experience Title */
.experience-title {
    color: #fff;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 16px; /* Default for smaller screens */
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* Improved readability */
}

@media (min-width: 1024px) {
    .experience-title {
        font-size: 20px; /* Adjusted for lg devices */
    }
}

/* Banner Bottom Section */
.banner-bottom-section {
    height: 120px; /* Default for smaller screens */
    border-radius: 16px;
    border: 2px solid rgba(177, 212, 219, 0.6);
    background: linear-gradient(91deg, rgba(177, 212, 219, 0.6) 0%, rgba(177, 212, 219, 0.1) 100%);
}

@media (min-width: 1024px) {
    .banner-bottom-section {
        height: 176px; /* Adjusted for lg devices */
        border-radius: 24px;
        border-width: 3px;
    }
}
